.cabecalho {
    background-color: var(--cabecalho__background);
    position: fixed;
    z-index: 2;
    width: 100%;
}
.cabecalho__logo {
    display: flex;
    margin-right: 0;
    justify-content: space-between;
}
.cabecalho__logo--titulo {
    font-size: 2rem;
    color: #fff;
    font-family: 'Fuggles', cursive;
    margin-bottom: 0;
    margin-left: 5px;
}
.cabecalho__botao {
    background-color: var(--botao__background);
    border: 2px solid #333;
}
.cabecalho__botao:hover {
    background-color: var(--botao__background--hover);
}
.cabecalho__link {
    display: flex;
    flex-grow: 0;
}
.cabecalho__link--item {
    color: #fdfdfd;
    background-color: var(--botao__background);
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    transition: 0.5s;
    text-align: center;
}
.cabecalho__link--item:hover {
    background-color: var(--botao__background--hover);
    color: #fdfdfd;
    text-decoration: underline;
}
@media (max-width: 768px) {
    .cabecalho__link {
        display: inline;
    }
}