.cabecalho {
    align-items: center;
    background: var(--cabecalho__background);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

.cabecalho__logo {
    align-items: center;
    display: flex;
    margin: 1rem;
}

.cabecalho__titulo {
    font-family: 'Fuggles', cursive;
    font-size: 2rem;
    color: var(--cor__letra);
}

.cabecalho__nav {
    display: flex;
    margin-right: 2rem;
}

.lista__item--link {
    background: var(--botao__background);
    border-radius: 10px;
    color: var(--cor__letra--destaque);
    font-size: 1.2rem;
    margin: 0.8rem;
    padding: 0.5rem 1rem;
    transition: 0.5s;
    border: 1px solid var(--cor__letra--destaque);
}

.lista__item--link:hover {
    background: var(--botao__background--hover);
    color: var(--cor__letra);
    text-decoration: underline;
}

@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        position: static;
        height: auto;
    }
    .cabecalho__titulo {
        font-size: 2.5rem;
    }
    .cabecalho__nav {
        flex-direction: column;
        margin: 0 1rem;
        width: 100%;
    }
    .lista__item--link {
        text-align: center;
        margin: 0;
        padding: 1rem 0;
        border-radius: 0;
        border: 0;
        border-bottom: 0.5px solid var(--cor__letra--destaque);
    }
}