.principal {
    margin-top: 25px;
}
.principal__cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--principal__cabecalho);
    align-items: center;
}
.principal__corpo {
    display: flex;
    justify-content: center;
}
.principal__container {
    margin: 5px 3px;
    width: 22.5%;
    transition: 0.5s;
    padding: 0;
    margin: 10px;
}
.principal__container:hover {
    transform: scale(1.1);
    z-index: 1;
}

@media (max-width: 768px) {
    .principal__corpo {
        justify-content: center;
    }
    .principal__container {
        width: 32%;
    }
    .card-title {
        font-size: 1.1rem;
    }
}
@media (max-width: 576px) {
    .principal__corpo {
        justify-content: center;
    }
    .principal__container {
        width: 48%;
    }
    .principal__titulo {
        font-size: 1rem;
    }
    .card-title {
        font-size: 1rem;
    }
}
@media (max-width: 375px) {
    .principal__corpo {
        justify-content: center;
    }
    .principal__container {
        width: 80%;
    }
    .principal__botao {
        font-size: 0.8rem;
    }
}