.tipo__container {
    display: flex;
    height: auto;
    justify-content: space-around;
}

.tipo__container--bolo {
    align-items: center;
    background: var(--principal__background--container);
    border-radius: 10px;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
    width: 25%;
}

.tipo__container--bolo:hover {
    transform: scale(1.05);
}

.imagem__bolo {
    width: 100%;
    height: 100%;
}

.imagem__bolo--casamento {
    width: 100%;
    height: 100%;
}

.container__titulo {
    color: var(--cor__letra);
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
}

.botao__preco {
    background: var(--botao__background);
    border-style: none;
    border-radius: 5px;
    color: var(--cor__letra);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    transition: 0.5s;
    width: 90%;
}

.botao__preco:hover {
    background: var(--botao__background--hover);
}

@media screen and (max-width: 768px) {
    .tipo__container {
        flex-direction: column;
    }
    .tipo__container--bolo {
        width: 80%;
        margin: 1rem 2rem;
    }
    .tipo__container--bolo:hover {
        transform: none;
    }
}